<%= form_for(@micropost) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="field">
        <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    </div>

    <%= f.submit "Post", class: "btn btn-lg btn-primary sm" %>

<% end %>



<!--%= @micropost.submit "Post", class: "btn btn-lg btn-primary" %-->

<!--%= type: "submit", link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %-->
